/* .main-section{
    width: 100%;
    position: relative;
    top:67px;
    background-color: #e7e7e7;
    min-height: (100vh -67px);
    border-bottom: 2px solid rgb(199,199,199);
    margin-bottom:10px;
} */